<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} | {{ site.title }}</title>
<!--        <link rel="stylesheet" href="{{ '/assets/css/style.css' }}">-->
    </head>
    <body>
        <header class="site-header">
            <div class="header-container">
<!--                <img src="{{ '/assets/images/logo.png' }}" alt="Logo" class="logo">-->
                <nav class="main-nav">
                    <a href="{{ '/' }}">Home</a>
                    <a href="{{ '/about' }}">About</a>
                    <a href="{{ '/contact' }}">Contact</a>
                </nav>
            </div>
        </header>

        <main class="main-content">
            {{ content }}
        </main>
    </body>
</html>
